.App {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.Collection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: var(--collection-column-gap);
  row-gap: calc(var(--collection-column-gap) * 4);
}

.PlayerSelection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.StatusInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}

.Game .grid-container {
  display: grid;
  grid-template-areas:
    "name name name name name name"
    "image image players players rank rank"
    "image image best best rating rating"
    "recommended recommended recommended notRecommended notRecommended notRecommended";
  grid-template-columns: repeat(6, 1fr);
  gap: var(--collection-column-gap);
}

@media only screen and (min-width: 640px) {
  .Game .grid-container {
    display: grid;
    grid-template-areas:
      "name name name"
      "image players rank"
      "image best rating"
      "image recommended notRecommended";
    grid-template-columns: 2fr 3fr 3fr;
    gap: var(--collection-column-gap);
  }
}

img {
  max-width: 100%;
  max-height: 100%;
}

:root {
  --collection-column-gap: 5px;
}
