.App {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.Collection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  column-gap: var(--collection-column-gap);
  row-gap: calc(var(--collection-column-gap) * 4);
}

.CollectionInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}

.Game {
  width: calc(100% / 3 - 2 * var(--collection-column-gap));
}

.Game .grid-container {
  display: grid;
  grid-template-areas:
    "name name name"
    "image players rank"
    "image best rating"
    "image recommended notRecommended";
  grid-template-columns: 1fr 1fr 1fr;
  gap: var(--collection-column-gap);
}

:root {
  --collection-column-gap: 5px;
}
